input {
  width: 90%;
  height: 45px;
  border-radius: 10px;
  text-decoration: none;
  outline: none;
  text-align: center;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 55px;
  left: 15px;
  border-style: solid ;
  border-color:#52B5F2 ;
 
}

.itstransparent {
  width: 350px;
  height: 200px;
  /* background: green; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 25px;
  outline:none;

  /* box-shadow: 0px 2px 5px 5px rgb(255, 254, 254); */
}

.txt {
  font-size: 10px;
  position: absolute;
  top: 23px;
  font-weight:900;
  right:35%;
}

.progessbar {
  width: 25%;
  height: 5px;
  background: #E4E4E4;
  border-radius: 5px;
  position: absolute;
  top: 35px;
  right: 17.5px;
}

i{
  font-size: 20px;
  position: absolute;
  top:72.5px;
  right: 25px;
}

.fa-eye{
  color: rgb(143, 140, 140);
}

.para{
  font-size: 12px;
  font-weight:600;
  width: 300px;
  position: absolute;
  top:50%;
  left:10%;
  color:#a1adbf;

}

.txtclr{
  font-size: 15px;
  top:12.5%;
  left:5%;
  position: absolute;
}
.starclr{
  top:12%;
  left:24%;
  color:red;
  position: absolute;
}

